<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com</h1>
    <p>
      You have successfully created your order,
      <%# your emails is: <%= @order.email %>.<br> %>
      your sub_totall is :
    </p>
    <p>
      To login to the site, just follow this link:
    </p>
    <p>Thanks for your purchase and have a great day!</p>
  </body>
</html>