
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your purchase from Jungle website!!</h1>
    <h3>You used <%= @email %> for your order. </h3>
    <h3>This is your reciept for order #<%= @order_id %>.</h3>
    <p>Your subtotal is <%= @sub_total_cents %>cents.<br></p>
    <p>Have a great day!</p>
  </body>
</html>